<div id="user-widget">

  <% if current_user %>

    Welcome <strong><%= current_user.name %></strong>!

    <%= link_to "Sign out", signout_path, id: "sign_out" %>

  <% else %>

    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

  <% end %>

</div>





<div id="user_nav">
  <% if mail_user_signed_in? %>
    Signed in as <%= current_mail_user.email %>. Not you?
    <%= link_to "Sign out", destroy_mail_user_session_path, method: 'delete' %>
  <% else %>
    <%= link_to "Sign up", new_mail_user_registration_path %> or
    <%= link_to "Sign in", new_mail_user_session_path %>
  <% end %>
</div>

